<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../css/style.css">
        <title></title>
    </head>
    <body>
      <h1>Edit Logs Page</h1>
        <form action="/users/<%=brandShow.id%>?_method=PUT" method="POST">
        <label for="name">Name</label>
        <input type="name" name="name" id="name" value="<%=brandShow.name%>"/>
        <label for="username">Username</label>
        <input type="username" name="username" id="username" value="<%=brandShow.username%>"/>
        <input type="submit" value="Edit Log"/>
      </form>
    </body>
</html>