<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href= "/public/css/style.css" rel="stylesheet" type="text/css" />
    <title>Index page for Brand Kits</title>
</head>
<body>
<!-- ====== TOP HEADER BAR ====== -->
    <div class= "header">
        <div class= "header-left">
            <h1>BRANDING KITS</h1>
        </div>
        <div class="header-center">
        <nav>
            <li>
            <a href="/users/new">Create a new Brand Kit</a>
            </li>
        </nav>
        </div>
<!-- ===== MAIN SPLASH PAGE CONTENT ===== -->
<div class= "main">
</div>

</body>
</html>