body {
    background: #eee;
    font-family: 'Montserrat', helvetica;
    font-size: 0.9em;
    margin: 0;
}
.header {
    display: flex;
    justify-content: space-between;
    background: white;
    padding: 10px;
}
.header-left {
    display: flex inline-flex;
    justify-content: space-between;
    align-items: center;
  }
.header-left img {
    width: 100px;
    height: 100px;
  }
.header-title h1 {
    font-size: 2em;
    font-weight: 700;
    color: #444;
    margin-left: 10px;
}
.header-nav li {
    display: inline-block;
    text-transform: uppercase;
    padding: 0 10px;
  }
.main {
    width: 80%;
    margin: 50px auto;
    text-align: center;
}