body {
    font-family: 'Montserrat', helvetica;
    background-color: #f0f1ff;
    font-size: 0.9em;
    margin: 0;
    /* border: solid 1px yellow; */
}
/* ===== HEADER * ===== */
.header {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  /* border: solid 1px red; */
}
.header-title {
  display: flex;
  font-size: 30px;
  color: #5642b6;
  font-family:'Big Shoulders Inline Text', cursive;
  justify-content: center;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
  background-color: #f0f1ff;
  /* border: solid 1px black; */
}
.header-nav ul {
  list-style-type: none;
}
.header-nav li {
  display: inline-block;
  text-transform: uppercase;
  padding: 0 5px;
}
.header-nav a {
  color: #5642b6;
  text-decoration: none;
  font-weight: 700;
  font-size: 0.8em;
}
.header-nav a:hover {
  color: black;
}
/* ===== MAIN * ===== */
.main {
  background-image: url("/img/patrik-michalicka-r3iAqHb7JWs-unsplash.jpg");
  width: 100%;
  position: relative;
  background-size: cover;
  margin: 0px auto;
  padding-top: 310px;
  padding-bottom: 50px;
  text-align: center;
  vertical-align: bottom;
  /* border: solid 1px purple; */
}
.main h1{
  font-size: 50px;
  background-color: #5642b6;
  background-image:linear-gradient( #00CCCC, #5642b6);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color:transparent;
  vertical-align: bottom;
  /* border: solid 1px orange; */
}
.main p{
  font-size: 18px;
  color:#5642b6;
}
/* .main > img {
  border-radius: 20px;
  opacity: 0.9;
  width: 100%;
} */
.main{
  border-style: solid 1px black;
}
.logos{
  width: 50%;
  border: solid 1px red;
}
.moodboards{
  width: 50%;
  border: solid 1px red;
}
.create{
  background-color:#5642b6;
  border-radius: 5px;
  border-top: #5642b7;
  border-left: #5642b7;
  border-right: #5642b7;
  padding: 8px;
  color: #f0f1ff;
}