<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>New User Brand Kit Form</title>
</head>
<body>
    <h1>Create a New Brand Kit</h1>
    <form action="/users" method="POST">
        name: <input type="text" name="name" id="name"/></br>
        username: <input type="text" name="username" id="username"/></br>
        password: <input type="password" name="password" id="password"/></br>
        socials: <input type="text" name="socials" id="socials"/></br>
        typography: <input type="text" name="typography" id="typography"/></br>
        colors: <input type="text" name="colors" id="colors"/></br>
        brandValues: <input type="text" name="brandValues" id="brandValues"/></br>
        logoImage: <input type="text" name="logoImage" id="logoImage"/></br>
        moodboardImage: <input type="text" name="moodboardImage" id="moodboardImage"/></br>
        notesEntry: <input type="text" name="notesEntry" id="notesEntry"/></br>
        <input type="submit" value="Create Brand Kit"/>
    </form>
</body>
</html>

